# local env files
*.env
.env.local
.env.*.local
.python-version
.DS_Store

# binary assets
*.jpg
*.gif
*.png
*.pdf

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/settings.json

# build artifacts
*.terraform*
*.build*
*.zip
*.txt
*.zip*
__pycache__
node_modules
/dist
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
.terraform/

public/assets/demo/analytics/
